<div class="shadow-container col-md-12">
  <div class="row">
    <div class="am-qss-user-info col-sm-3">
      <div>
        <%= image_tag(question.author.avatar.small, class: 'img-circle')  %>
      </div>
      <a href="<%= user_path(question.author) %>"><span><%= question.author.name %></span></a>
    </div>
  </div>
</div>