.am-qs-main, .am-answers {
  background-color: #fff;
  /*border: 1px solid black;*/
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0,0,0,0.5); /* Параметры тени */
  padding: 10px;
  margin-top: 15px;
}
.scroll-container {
  height: 500px;
  overflow-y: scroll;
  overflow-x: hidden;
}
.am-answers {
  margin-top: 20px;
  /*border: 1px solid black;*/
}

.am-answers .likes a {
  width: 10px;
}

.am-answers .likes a i {
  background-size: cover;
}

.am_qs_container {
  /*min-width: 1000px;*/
  /*margin-left: 100px;*/
}

.am-qs-body {
  font-size: 1.2em;
  color: #111;
}

.nickname {
  margin-top: 5px;
  text-align: center;
}

.am-answers .avatar {
  float: left;
}

.am-answers .avatar img {
  left: 0px;
}

.am-answer-user {
  min-width: 200px;

}

.am-answers .nickname {
  position: relative;
  left: 5px;
  margin: 0;
  display: inline-block;
  vertical-align: middle;
  line-height: 50px;
}

.am-answer {
  margin-top: 10px;
  padding-top: 10px;
  border-top: 1px solid #ccc;
}

.am-write-answer {
  padding: 0px;
  margin-top: 20px;

  /*border: 1px solid black;*/
}

.am-write-answer .form-group textarea, .am-write-answer .form-group .am-btn {
  box-shadow: 0 0 10px rgba(0,0,0,0.5); /* Параметры тени */
}

.am-answer-empty-body {
  padding-top: 30px;
  padding-bottom: 30px;
  font-style: italic;
}

.am-qs-user-info {
  text-align: center;
}

.am-answer-user-info {
  text-align: center;
}

.answer-timestamp {
  position: relative;
  top: 5px;
  float: right;
  color: #777;
  font-size: 0.8em;
}
//
//.am-answer-rating > *{
//  display: inline-block;
//}



.am-answer-rating {
  color: #555555;
  text-align: center;
}

.am-answer-rating a {
  color: #555555;
  height: 20px;
  &:hover {
    color: #222222;
  }
}

.am-answer-rating span {
  display: block;
  font-size: 20px;
  margin: 8px 0;
}

#am-answer-formfield {
  margin-top: 20px;
  textarea {
    box-shadow: 0 0 10px rgba(0,0,0,0.5); /* Параметры тени */
  }
}

.disabled {

}