<footer class="footer">
  <!--<div class="row">-->
    <div class="container">
      <div class="row">
        <div class="col-sm-4">
          <h3>About us</h3>
          <ul class="list-unstyled">
            <li>
              <a href="#">Why AskMachine?</a>
            </li>
            <li>
              <a href="#">Contacts</a>
            </li>
            <li>
              <a href="#">Privacy</a>
            </li>
          </ul>
        </div>
        <div class="col-sm-4">
          <h3>Help</h3>
          <ul class="list-unstyled">
            <li>
              <a href="#">What is machine learning?</a>
            </li>
            <li>
              <a href="#">How to register?</a>
            </li>
            <li>
              <a href="#">How to ask </a>
            </li>
            <li>
              <a href="#">How to login to your account?</a>
            </li>
          </ul>
          <div class="copyright-info">
            <p>
              Copyright &copy; 2016 <%= link_to "Sergey Volodin", 'http://github.com/vileven' %>
              <br/> All Rights Reserved
            </p>
          </div>
        </div>
        <div class="col-sm-4">
          <h3>Social newtorks</h3>
          <ul class="list-unstyled">
            <li>
              <a href="#">VK</a>
            </li>
            <li>
              <a href="#">Facebook</a>
            </li>
            <li>
              <a href="#">Twitter</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
</footer>